.login {
	text-align: center;
	font-size: 50px;
	height: 90vh;
}

.logo {
	width: 200px;
	height: 200px;
	padding: 30px;
}

.header {
	padding: 40px;
	background-color: #5142ffff;
}

.login-button {
	padding: 10px;
}

.forgot-password {
	font-size: 18px;
	color: black;
}

.sign-up {
	font-size: 18px;
	color: black;
}

.username {
	font-size: 20px;
	padding: 10px;
}

.password {
	font-size: 20px;
	padding: 10px;
}

.container {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	height: 100%;
}

.shade {
	background-color: #f1f1f1;
}

body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
}