.primary-color {
	color: #5142ffff
}

.dark-primary-color {
	color: #4620c5ff
}

.white-color {
	color: white
}

.black-color {
	color: black
}

.gray-color {
	color: gray
}

.dark-gray-color {
	color: #555555ff
}

.header-background {
	padding: 20px;
	background-color: #5142ffff;
}

.header-text {
	font-size: 50px;
	text-align: center;
	color: white
}

.text-link {
	font-size: 18px;
	color: black;
}

.gray-shade {
	background-color: #f1f1f1;
}

.small-text {
	font-size: 18px;
}

.medium-text {
	font-size: 22px;
}

.large-text {
	font-size: 40px;
}

.circle-border {
	border-radius: 50%;
}

.row-container {
	display: flex;
	align-items: center;
}

.profile-image-size {
	width: 50px;
	height: 50px;
}

.small-padding {
	padding: 10px;
}

.small-margin {
	margin: 10px;
}

.medium-margin {
	margin: 20px;
}

.large-margin {
	margin: 40px;
}

.left-align-items {
	text-align: left;
}

.bold-text {
	font-weight: bold;
}

.left-align-text {
	text-align: right;
}

.right-align-text {
	text-align: right;
}

.clickable-pointer {
	cursor: pointer;
}